.breadcrumbs {
  padding: 24px 0;
  font-size: 16px;
  color: var(--text-gray);
}

.breadcrumbs a {
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: var(--primary-black);
}

.separator {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .breadcrumbs {
    padding: 40px 20px 20px 20px; /* Increased top gap for mobile */
    font-size: 14px;
  }
}


