.product-detail-main {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .product-detail-main {
    flex-direction: column;
  }
}

.loading, .error {
  padding: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.error {
  color: #FF3333;
}
